html {
  background-color: black;
  color: white;
  padding: 4cm;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: black;
}
.content {
  text-align: -webkit-center;
  max-width: 60%;
  margin: auto;
}
.bs {
  background-color: #252525;
  border: none;
  color: white;
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.select {
  background-color: #252525;
  border: solid 10px #555555;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.indextable{
    border-collapse: collapse;
    border: solid 3px #222222;
    min-width: 80%;
    text-align: center;
}

.indextable tr, .indextable td, .indextable th{

    border: solid 3px #222222;
}
.indextable td:nth-child(1),.indextable td:nth-child(2){
    width: 1.01cm;
}

img{
    width: 0.5cm;
    height: 0.5cm;
    -webkit-filter: invert(1);
    filter: invert(1);
}
.formtable{
    width: 10cm;
}

.formtable td:first-child{
    text-align: left;
}

.formtable td:nth-child(2){
    text-align: right;
}

