<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron bg-dark text-white text-lg-center">
    <h1>Welcome to reservation</h1>
    <p>Manage your holiday!</p>
</div>
<div>
    <h2 style="margin-left: 5vw;"><a class="primary-link" href="login">Login</a> or <a class="primary-link" href="register">Register</a> to start!<h2>
</div>
<div class="card" style="max-width: 400px; width: 40vw; margin: 5vw; ">
    <div class="card-header bg-primary text-white">Login</div>
    <div class="card-body">
        <form method="POST" action="/login" class="form-group">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Email</div>
                </div>
            <input type="email" placeholder="Enter your email" name="username" class="form-control form-control-lg"/><br><br>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Password</div>
                </div>
            <input type="password" placeholder="Enter your password" name="password" class="form-control form-control-lg"/><br><br>
            </div>
            <input type="submit" name="submit" class="btn-primary btn-lg" value="Login"/>
        </form>
        <div th:text="${fail}"  class="alert"></div>
    </div>
</div>
</body>
</html>